.job-circular{
    border:2px solid goldenrod;
    margin: 10px;
    padding:10px;
    /* height: 300px; */
   
}
.job-circular img{
    width: 150px;
    height: 150px;
}
.job-info{
    display: flex;
}
.job-info button{
    margin: 10px;
    color:#9873FF ;
} 
.job-details{
    display: flex;
}
.job-details p{
    margin-right:10px ;
}
