.jobDetails{
    display: flex;
    justify-content: space-around;
}
.btn-details{
    width: 157px;
    height: 57px;
    background:linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 4px;
}